{{>header}}
{{>navbar}}
<section class="container">
    {{#if user}}
<form method="post" > 
    <div class="mb-3">
        <input class="form-control w-50 mb-2" name="name" type="text" value="{{user.name}}">
    </div>
    <div class="mb-3">
        <input class="form-control w-50 mb-2" name="age" type="number" value="{{user.age}}" placeholder="Enter YOur AGe">
    </div>
    <div class="mb-3">
        <input class="form-control w-50 mb-2" name="job" type="text" value="{{user.job}}" placeholder="enter YOur JOb">
    </div>
    <div class="mb-3">
        <select class="form-control w-50 mb-2" name="userType" type="text" >
            <option selected disabled>{{user.userType}} </option>
            {{#each userType}}
            <option value="{{this}}">{{this}} </option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <button class="btn  btn-primary mb-3"> Edit USer</button>

    </div>
</form>
 {{else}}
 <div class="alert alert-danger">
    no user have this id
 </div>
 {{/if}}
</section>
{{>footer}}
